<%- contentFor('myArticle') %>
            <div id="myArticle">
                <br>
                <br>
              
                <div class="article">
                    <img src="/../images/<%= mesArticles.img %>"  class="img-responsive"alt="">
                    <h2><%= mesArticles.title %></h2>

                    <p><%= mesArticles.content %></p>

                    <div class="row">
                        <div class="col-md-6">
                         <h4>Ecrit par: <strong><%= mesArticles.author %></strong> </h4>
                         <h5><%= mesArticles.date %></h5>
                        </div>
                        <div class="col-md-6">
                        <figure class="text-right"><button class="btn btn-primary ">Like</button></figure>
                        </div>
                    </div>
                    
                    
                </div>  
             </div>   

    
