
<%- contentFor('blog') %>
  <% for (let i=0; i<article.length; i++){ %>
     <% if(article[i].brouillon == false){ %>

        <div class="post-recent">
            <div class="row">
              <div class="col-md-5">
                <a href="<%= article[i]._id %>"><img src="../images/<%=article[i].img %>" class="img-responsive" alt=""></a>
              </div>
              <div class="col-md-7">
                <p class="date">04/12/17</p>
                <a href="/articles/<%= article[i]._id %>/#myArticle">
                  <h2>
                    <%= article[i].title %>
                  </h2>
                </a>
                <p>
                  <%= article[i].preview %>
                </p>
                <p>
                  <img src="../images/heart.png" alt="">
                  <%= article[i].like %>
                </p>
              </div>
            </div>
            <hr>
    
          </div>
  <%}%>
  




        <% } %>