
<% contentFor('blog') %>
              <% article.forEach((obj)=>{ %>
                <h1>MERRRDE</h1>
            <div class="post-recent">
              <div class="row">   
                <div class="col-md-5">
                 <a href="<%= obj._id %>"><img src="../images/<%=obj.img %>" class="img-responsive" alt=""></a>
                </div>
                <div class="col-md-7">
                  <p class="date">04/12/17</p>
                  <a href="/articles/<%= obj._id %>"><h2><%= obj.title %></h2></a>
                  <p><%= obj.preview %></p>
                  <p>
                    <img src="../images/heart.png" alt=""> 23
                  </p>
                </div>
              </div>
              <hr>
          
            </div>
            <% } )%>
         